body{
  background-image: url(./img/stadium.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.rectangle{
  display: flex; 
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  margin: auto;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid #ed00fa7c;  
  width: 40%;
  height: 40%;  
  color: white;
  padding: 20px;
  }  
  label{
    color: white;
  }
  #rec{
      color: white;
  }
.headhead{
  margin-bottom:200px;
}
.footfoot{
  margin-top: 200px;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .con{
    border: 2px solid #03989E;
    border-radius: 8px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    
  }
  .con:hover{
    background-color: #03989E;
    color: white;
  }  

